body{
    width: 1204px;
    margin: 0 0;
    padding: 0 0;
}
.b{
  margin-left: 120px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

a:link,
a:visited {
	display: block;
	width: 90px;
	font-weight: bold;
	color: #000000;
    text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

img{
    margin: 0 0;
    padding: 0 0;
}